.advantages {
  .container();
  padding: 30px 0 20px;
}

.advantages__title {
  .block-reset();
  margin-bottom: 40px;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  font-family: @second-font;
  color: @base-black-text-color;
}

.advantages__list {
  .list-reset();
}

.advantages__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &::before {
    content: "";
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    margin-right: 20px;

    background-color: @btn-green;
    background-image: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.advantages__item--powder {
  &::before {
    background-image: url("../img/advantage-powder@1x.png");
  }
}

.advantages__item--dining {
  &::before {
    background-image: url("../img/advantage-dining@1x.png");
  }
}

.advantages__item--clock {
  &::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

@media (min-width: @tablet-width) {
  .advantages {
    padding: 50px 0 25px;
  }

  .advantages__title {
    margin-bottom: 75px;
    font-size: 60px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    flex-direction: column;
    align-items: flex-start;
    width: 245px;
    margin-bottom: 35px;
    padding-bottom: 50px;
    font-size: 16px;
    line-height: 24px;

    &:nth-child(2n+1) {
      margin-right: 139px;
    }

    &::before {
      margin-right: 0;
      margin-bottom: 35px;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages__item {
    margin-right: 80px;

    &:nth-child(2n+1) {
      margin-right: 80px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
