.btn {
  display: block;
  box-sizing: border-box;
  width: 280px;

  margin: 0 auto;
  padding: 12px 10px 8px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: @second-font;
  text-align: center;
  text-transform: uppercase;
  color: @white;

  background-color: @btn-green;
  border: 0;

  &--index-page {
    font-size: 14px;
    line-height: 18px;
  }

  &--all {
    line-height: 20px;
    color: #272727;
    background-color: @back-grey;
  }
}

@media (min-width: @tablet-width) {
  .btn {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 20px;
    line-height: 20px;

    &--index-page {
      width: 246px;
    }

    &--catalog {
      width: 250px;
    }

    &--all {
      width: 250px;
    }

    &--additional {
      width: 633px;
    }

    &--submit {
      width: 282px;
      margin-left: 0;
      margin-right: 60px;
    }
  }
}

@media (min-width: @desktop-width) {
  .btn {
    &--catalog {
      width: 168px;
    }

    &--all {
      width: 168px;
    }

    &--additional {
      width: 245px;
      margin-right: 0;
    }

    &--submit {
      width: 568px;
      margin-right: 80px;
    }
  }
}
