
.catalog {
  margin-bottom: 42px;
}

.catalog__list {
  .list-reset();
}

.catalog__item {
  margin-top: -1px;
  padding-bottom: 24px;
  border-top: 1px solid @border-color;
  border-bottom: 1px solid @border-color;

  &--self {
    padding-bottom: 0;
  }
}

.catalog__details {
  display: flex;

  width: @mobile-container;
  margin: 0 auto;

  &--self {
    flex-direction: column;
    padding-top: 65px;
    text-align: center;

    background-image: url("../img/bg-plus-mobile.svg");
    background-repeat: no-repeat;
    background-position: center 26px;
    background-size: 30px 30px;
  }
}

.catalog__wrapper {
  width: 140px;
}

.catalog__title {
  display: block;
  width: 75px;
  padding-top: 23px;
  padding-bottom: 12px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @base-black-text-color;
  text-transform: uppercase;

  &--wide {
    width: auto;
    margin-bottom: 8px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.catalog__table {
  width: 100%;
  border: 0;
  border-collapse: collapse;
}

.catalog__row {
  margin-bottom: 5px;

  font-size: 12px;
  line-height: 16px;
  font-style: normal;
  font-weight: 400;
  font-family: @second-font;
  color: @base-text-color;
}

.catalog__field {
  text-align: left;
}

.catalog__value {
  text-align: right;
}

.catalog__slogan {
  .block-reset();
  margin-bottom: 20px;
  font-family: @second-font;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: @tablet-width) {
  .catalog {
    margin-bottom: 60px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: @tablet-container;
    margin: 0 auto;
  }

  .catalog__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 324px;
    margin-top: 0;
    min-height: 475px;
    margin-bottom: 30.5px;
    padding-top: 25px;
    padding-bottom: 40px;
    background: linear-gradient(to bottom, @white 0%, @white 20%, @back-grey 20%, @back-grey 100%), @back-grey;
    border-top: none;
    border-bottom: none;

    &--last {
      align-self: flex-end;
      justify-content: center;
      width: 322px;
      min-height: 390px;
      padding-top: 0;
      padding-bottom: 39px;
      background: @white;
      border: 1px solid @border-color;
    }
  }

  .catalog__details {
    flex-direction: column;
    width: auto;

    margin-bottom: 33px;

    &--self {
      margin-bottom: auto;
      padding-top: 165px;
      background-image: url("../img/bg-plus.svg");
      background-position: center 55px;
      background-size: 60px 60px;
    }
  }

  .catalog__link {
    margin: auto;
    margin-bottom: 39px;
  }

  .catalog__wrapper {
    width: 250px;
    margin: 0 auto;
  }

  .catalog__title {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 18px;
    padding: 0;
    font-size: 20px;
    text-align: center;

    &--wide {
      margin-bottom: 25px;
    }
  }

  .catalog__row {
    margin-bottom: 0;

    font-size: 16px;
    border-bottom: 1px solid @border-color;
  }

  .catalog__field,
  .catalog__value {
    padding-top: 8px;
    padding-bottom: 7px;
  }

  .catalog__slogan {
    width: 175px;
    align-self: center;
    margin-bottom: 84px;
    font-size: 16px;
    line-height: 18px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    margin-bottom: 65px;
  }

  .catalog__list {
    width: 1220px;
  }

  .catalog__item {
    width: 245px;
    margin-bottom: 33px;

    &--last {
      width: 243px;
      height: 390px;
    }
  }

  .catalog__details {
    margin-bottom: 32px;
  }

  .catalog__wrapper {
    width: 170px;
  }
}
