.contacts {
  padding-top: 28px;

  &--catalog,
  &--form {
    background-color: @back-grey;
  }
}

.contacts__wrapper {
  display: flex;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 26px;
}

.contacts__slogan {
  width: 140px;
  .block-reset();

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: @second-font;
  color: @base-black-text-color;
  text-transform: uppercase;
}

.contacts__info {
  .block-reset();
  width: 140px;
  line-height: 20px;
}

.contacts__map {
  min-height: 362px;
  background-color: #f8f5ef;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: @tablet-width) {
  .contacts {
    padding-top: 67px;
  }

  .contacts__wrapper {
    justify-content: space-between;
    width: 628px;
    margin-bottom: 65px;
  }

  .contacts__slogan {
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__info {
    width: 165px;
    font-size: 16px;
    text-align: right;
  }

  .contacts__info span {
    display: block;
    margin-top: 20px;
  }

  .contacts__map {
    min-height: 395px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: relative;
    padding-top: 0;
  }

  .contacts__wrapper {
    position: absolute;
    top: 96px;
    right: ~"calc(50% + 40px)";
    width: 420px;
    margin-bottom: 0;
    padding: 65px 75px 55px;

    background-color: @white;
  }

  .contacts__info {
    text-align: left;
  }
}
