.offer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 175px;

  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 50px;

  background-color: #6db144;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}

.offer__slogan {
  width: 165px;
  .block-reset();

  font-size: 16px;
  line-height: 20px;
  color: @white;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .offer__wrapper {
    flex-direction: row;

    padding: 0;
    padding-left: 90px;
    padding-right: 124px;
    min-height: 200px;
    background-size: cover;
    background-position: center center;
  }

  .offer__slogan {
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .offer__wrapper {
    flex-direction: column;
    align-items: center;
    min-height: 180px;
    width: 245px;
    padding: 64px 0 50px;
  }

  .offer__slogan {
    text-align: center;
  }
}
