.page-header__content {
  .container();
  padding-top: 18px;
  padding-bottom: 26px;

  font-family: @second-font;
  color: @base-black-text-color;

  &--index-page {
    width: 320px;
    min-height: 305px;
    padding-top: 30px;
    padding-bottom: 24px;

    text-align: center;
    color: @white;
    background: linear-gradient(180deg, @back-green 70%, @white 70%, @white 100%);
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: top center;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
      background-size: 320px 305px;
    }
  }

  &--form-page {
    padding-bottom: 24px;
  }
}

.page-header__promo {
  display: flex;
  flex-direction: column;

  min-height: 354px;
  margin: 0 auto;
  background-image: url("../img/index-can-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 40px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-can-mobile@2x.png");
    background-size: 280px 271px;
  }
}

.page-header__title {
  .block-reset();

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;

  &--index-page {
    margin-bottom: 24px;
    line-height: 36px;
  }
}

.page-header__slogan {
  .block-reset();
  //margin-bottom: 28px;

  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.page-header__button {
  margin-top: auto;
}

@media (min-width: @tablet-width) {
  .page-header {
    padding-top: 20px;
  }

  .page-header__nav {
    width: 708px;
    margin: 0 auto;
  }

  .page-header__content {
    padding-top: 52px;
    padding-bottom: 55px;

    &--index-page {
      width: 708px;
      padding-bottom: 0;

      text-align: left;
      color: @base-black-text-color;
      background: none;
    }
  }

  .page-header__promo {
    padding-left: 88px;
    min-height: 648px;
    background-image: none;
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-position: center bottom;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-can-tablet@2x.jpg");
      background-size: 709px 609px;
    }
  }

  .page-header__title {
    width: 450px;
    font-size: 60px;
    line-height: 60px;

    &--index-page {
      margin-bottom: 40px;
      padding-left: 88px;
    }
  }

  .page-header__slogan {
    margin-bottom: 42px;
    font-size: 20px;
    line-height: 20px;
  }

  .page-header__button {
    margin-top: 0;
    margin-bottom: auto;
    margin-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    padding-top: 55px;

    &--index-page {
      margin-bottom: 80px;
      padding-bottom: 55px;
      background-image: linear-gradient(to right, @white 0%, @back-green 0%, @back-green 100%);
      background-position: ~"calc(50% + 380px)" top;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: ~"calc(50% + 380px)" top;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: 680px 696px;
      }
    }
  }

  .page-header__nav {
    width: 1220px;
    margin-bottom: 35px;
    &--index-page {
      margin-bottom: 20px;
    }
  }

  .page-header__content {
    padding-top: 35px;

    &--index-page {
      width: 1220px;
      min-height: 415px;
      padding-top: 85px;
      background-image: url("../img/index-can-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: 452px top;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/index-can-desktop@2x.png");
        background-size: 552px 500px;
      }
    }
  }

  .page-header__title {
    &--index-page {
      padding-left: 80px;
    }
  }

  .page-header__promo {
    padding-left: 80px;
    background-image: none;
    min-height: auto;
  }

  .page-header__slogan {
    margin-bottom: 50px;
  }
}
