.site-list {
  .list-reset();

  font-family: @second-font;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.site-list__item {
  border-bottom: 1px solid @border-color;
}

.site-list__link {
  display: block;

  padding-top: 25px;
  padding-bottom: 25px;

  color: @base-black-text-color;
}
