.site-list {
  .list-reset();

  font-family: @second-font;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.site-list__item {
  border-bottom: 1px solid @border-color;
}

.site-list__link {
  display: block;

  padding-top: 25px;
  padding-bottom: 25px;

  color: @base-black-text-color;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;

    }
    .site-list__item {
      border-bottom: none;
    }
}

@media (min-width: @desktop-width) {
  .site-list__link {
    &--index-page {
      color: @white;
    }
  }
}
