.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 168px;
  .list-reset();
  margin: 0 auto;
}

.social__item {
  margin-bottom: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 20px;
  font-size: 0;
  line-height: 0;
}

.social__svg {
  margin: auto;
  fill: @social-color;

  &:hover,
  &:focus {
    fill: @btn-green;
  }

  &:active {
    fill: @btn-green;
    opacity: 0.3;
  }

  &--vk {
    width: 22px;
    height: 12px;
  }

  &--insta {
    width: 16px;
    height: 16px;
  }

  &--facebook {
    width: 12px;
    height: 20px;
    margin-left: 2px;
  }
}

@media (min-width: @tablet-width) {
  .social {
    width: auto;
  }

  .social__item {
    margin-bottom: 5px;
  }

  .social__link {
    width: 30px;
    height: 28px;
  }

  .social__svg {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--insta {
      width: 23px;
      height: 23px;
    }

    &--facebook {
      width: 14px;
      height: 28px;
      margin-left: 6px;
    }
  }
}
