@white: #ffffff;
@black: #000000;
@body-bg-color: #939393;
@base-text-color: #464646;
@base-black-text-color: #181818;
@border-color: #e5e5e5;
@back-grey: #f2f2f2;
@btn-green: #84b646;
@input-invalid: #e48181;
@second-font: "Oswald", "Arial", sans-serif;

@tablet-width: 660px;
@tablet-width-only: 959px;
@desktop-width: 960px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
